---
title: Post title
layout: base.njk
permalink: "articles/sluggoeshere/index.html"
---

use pagination to get one article at a time, then permalink for that item, wowza, not good

where is this coming from?
<span class="content"></span>

{{ site.base_url }}